@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 5%;
        --foreground: 0 0% 100%;

        --card: 0 0% 10%;
        --card-foreground: 0 0% 100%;

        --popover: 0 0% 10%;
        --popover-foreground: 0 0% 100%;

        --primary: 141 73% 42%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 15%;
        --secondary-foreground: 0 0% 100%;

        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 0 0% 15%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 15%;
        --input: 0 0% 15%;
        --ring: 141 73% 42%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}